.App {
  background-color:#e8e1e1 ;
  max-width: 900px;
  margin: 0 auto;
}
.App-header {
margin: 30px 0;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App footer {
  font-family: monospace;
  font-weight: 500;
  line-height: 1.5;
}
.App h1 {
  font-weight: bold;
}